// LAYOUT VARS
$topbar-height: 56px;
$topbar-height-mobile: 48px;

$sidebar-left-background: #808080;
$sidebar-left-width: 86px;
$sidebar-left-width-mobile: 90px;
$sidebar-left-secondary-width: 220px;
$sidebar-left-secondary-width-mobile: 190px;
$side-clearance: 10px;
